* { margin: 0; padding: 0; }


body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: #ffffff;

}

.boton {
    font-size: 24px;
    background-color: rgb(56, 85, 85);
    color: #ffffff;
    margin-right: 15px;
    margin-bottom: 25px;
}
.boton-hover {
    background-color: rgb(25, 36, 36);
}
header {
    display: block;
    width: 100%;
}
footer {display: block;}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

h2 {
    text-align: center;
    padding: 75px;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
}

h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;

}

p {
    text-align: left;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    width: 43%;
    font-size: 16px;
padding: 75px 100px 75px 150px;

}

/* cabeza */
header {
    background-color: #000000;
}
.hero {
    width: 100%;
}

/* info sect 1 */
.info {
    background-color: #000000;
}

.img-info {
    width: 399px;
    height: 237px;

}

p,
.img-info {
    display: inline-block;
    padding-top: 75px;
}

/* caract sect 2 */

.caract {
    background-color: #1e1a13;
}

.icon {
   text-align: center;
   font-size: 25px;
   font-weight: 300;
    display: inline-block;
    width: 20%;
    padding-bottom: 74px;
    padding-left: 130px;
}

/* imagenes gal  */


.imagenes {
    background-color: #000000;
    height: 348px;
    line-height: 348px;
    text-align: center;
}

.imagenes .img {
    display: inline-block;
    margin: 8px;
    height: 202px;
    width: 316px;
    vertical-align: middle;
}



/* pie */
.pie {
background-color: #1e1a13;
    opacity: 0.94;
    width: 100%;
padding-top: 35px;
padding-bottom: 35px;
}
.pie, h3 { 
    text-align: center;
    color: rgb(250, 250, 250);

}